<div>
    <h2>
        <span>Cards</span>
        <button class="btn btn-primary float-right jh-create-entity create-card" [routerLink]="['/', { outlets: { popup: ['card-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Card
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cards">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Card Id</span></th>
            <th><span>Description</span></th>
            <th><span>Card Type</span></th>
            <th><span>X 1</span></th>
            <th><span>Y 1</span></th>
            <th><span>X 2</span></th>
            <th><span>Y 2</span></th>
            <th><span>X 3</span></th>
            <th><span>Y 3</span></th>
            <th><span>X 4</span></th>
            <th><span>Y 4</span></th>
            <th><span>Field</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let card of cards ;trackBy: trackId">
                <td><a [routerLink]="['../card', card.id ]">{{card.id}}</a></td>
                <td>{{card.cardId}}</td>
                <td>{{card.description}}</td>
                <td>{{card.cardType}}</td>
                <td>{{card.x1}}</td>
                <td>{{card.y1}}</td>
                <td>{{card.x2}}</td>
                <td>{{card.y2}}</td>
                <td>{{card.x3}}</td>
                <td>{{card.y3}}</td>
                <td>{{card.x4}}</td>
                <td>{{card.y4}}</td>
                <td>
                    <div *ngIf="card.fieldId">
                        <a [routerLink]="['../field', card.fieldId  ]" >{{card.fieldId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../card', card.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
